body {
    width: 578px;
    margin: auto;
}

form {
    background-color: #f1c47b;
}

form label {
    display: block;
    float: left;
    font-weight: bold;
}

form input {
    width: 540px;
}

#save {
    width: auto;
    font-size: 1.1em;
    font-weight: bold;
}